// Std. colors
$black: #000;
$white: #fff;
$grey-1: #f7f7f7;
$grey-2: #eee;
$grey-3: #333;

// Application based colors
$prime-bg: #fff;
$prime-clr: #303eba;
$second-clr: #f54fa0;

// fonts
$default-font: 1.8rem;
